n8n_ai_caption_template.json
{
  "name": "Agency OS: AI Caption Generator (FOOLPROOF-V2)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saas-ai-caption",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [4144, 656],
      "id": "webhook-req",
      "name": "Webhook",
      "webhookId": "saas-ai-caption"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [4320, 864],
      "id": "gpt-node",
      "name": "GPT-4o mini",
      "credentials": {
        "openAiApi": {
          "id": "VWwgkmcjUOSbOyPw",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.client_name }} - {{ $json.body.topic }} (Platform: {{ $json.body.platform }})",
        "hasOutputParser": false,
        "options": {
          "systemMessage": "You are a professional social media manager.\n\nGenerate ONE high-converting caption for the provided client and topic. \n\nSTRUCTURE:\n1. Hook: 1 punchy first line.\n2. Body: 2-3 value-driven sentences with moderate emojis.\n3. CTA: Clear instruction (e.g., \"Click link in bio\").\n\nOUTPUT FORMAT:\nYou MUST return a JSON object with strictly these keys:\n{\n  \"caption\": \"Your full text here\",\n  \"hashtags\": \"#Five #Relevant #Hashtags\"\n}\n\nIMPORTANT: Do NOT include markdown blocks (```json). Do NOT include preamble. Return ONLY the JSON object."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [4400, 656],
      "id": "agent-node",
      "name": "AI Caption Agent"
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [4896, 656],
      "id": "respond-node",
      "name": "Respond to Dashboard",
      "webhookId": "saas-ai-caption"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Caption Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Caption Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Caption Agent": {
      "main": [
        [
          {
            "node": "Respond to Dashboard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
